{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non curabitur gravida arcu ac tortor. Sed blandit libero volutpat sed cras ornare arcu dui vivamus. Dapibus ultrices in iaculis nunc. Mauris cursus mattis molestie a iaculis. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Vel pharetra vel turpis nunc eget lorem dolor sed. Sed cras ornare arcu dui. Velit ut tortor pretium viverra suspendisse potenti. Quis hendrerit dolor magna eget est lorem. Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum.</p>
        <button class="btn btn-warning">Нажми на меня</button>
    </div>
{% endblock %}